
<h2> Others who added <%= @song.artist %>- <%= @song.title %> </h2> 

<div>
<table>
        <tr>
            <th> Name </th>
            <th> Times Added </th>
        </tr>


        <% @song.users.each do |user| %>
            <tr>
                <td> <a href= "/users/<%=user.id%>"> <%= user.first_name %> <%= user.last_name %> </a></td>
                <td> <%= @song.users.where(first_name: user.first_name.to_s ).count %> </td>
            </tr>
        <% end %>

</table>
</div>

<a href='/sessions/destroy'> Logout </a>
